<p id="notice"><%= notice %></p>

<p>
  <strong>Enrollment:</strong>
  <%= @rejection.enrollment_id %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @rejection.reason %>
</p>

<%= link_to 'Edit', edit_rejection_path(@rejection) %> |
<%= link_to 'Back', rejections_path %>
