    <% if user_signed_in? %>
      <h2>Directions:</h2>
      <% if current_user.applicant_detail.blank? %>
        <li>The first step is to
          <%= link_to 'Register', new_applicant_detail_path,
                      class: 'btn-sm btn-green' %>,
          so that we know who you are.
          <br>
          As you advance through the online application process, these directions
          will update accordingly to your progress. For many items you submit,
          you will receive an event update on the right side of the screen.
        </li>
        <p class='direction_notes'>
          Watch here for special information related to the step you currently
          are on.
        </p>
      <% elsif current_user.enrollments.empty? %>
        <li>The second step is to submit your application for
          <%= link_to 'Camp Enrollment', new_enrollment_path,
                      class: 'btn-sm btn-green' %>
        </li>
          <p class='direction_notes'>Make sure that you have gathered all the
            required information, then work your way through the sections.
            <ul class='direction_notes'>
              <li>High School Address</li>
              <li>Transcript (in pdf format)</li>
              <li>Your personal statement</li>
            </ul>
            <br>
            Check your work before submitting! Once you click the SUBMIT button,
            you will not be able to make changes to your application.
          </p>
      <% elsif current_user.enrollments.empty? || current_user.enrollments.last.course_preferences.blank? %>
        <li>The next step is to rank your
          <%= link_to "Course Preferences", course_preferences_path, class: 'btn-sm btn-green' %>
          for the sessions you selected to attend.</li>
      <% elsif current_user.enrollments.empty? || current_user.enrollments.last.recommendation.blank? %>
        <li>The next step is requesting a
          <%= link_to "Letter of Recommendation",
                      new_enrollment_recommendation_path(current_user.enrollments.last),
                      class: 'btn-sm btn-green'  %>
        </li>
        <p class='direction_notes'>Please ask one of your most recent high school science or math
          teachers to submit a Letter of Recommendation. This is a required part
           of your application. Your recommender will be sent an email giving
           them directions on how to submit a recommendation for you, so please
           be certain that you enter their correct email address.
         </p>
      <% elsif current_user.payments.empty? %>
        <li>Now that you've submitted your application, the next step is to make
         sure you
         <%= button_to "pay the $100 non-refundable application fee",
                      make_payment_path(amount: 100), class: 'btn-sm btn-green' %>
        </li>
        <p class="font-semibold text-red-900">
          Payment of your application fee must be completed before you will be
          considered for admission.
        </p>
        <p>
          International students may pay via wire transfer
          (<a href="mailto:mmss@umich.edu">contact our office</a> for more
          information regarding wire transfers for international students.)
        </p>
        <p class="direction_notes">You will receive an email from UM
          MerchantServices confirming your credit card transactions.
        </p>
      <% else %>
        <p>Your application is complete!<br> Watch the progress window at the right
          to track the status of your application materials. You will receive an
          email with instructions for any additional steps that are required.
        </p>
      <% end %>

    <% else %>
      Please
      <%= link_to 'Sign in', new_user_session_path,
                  class: "btn btn-sm btn-blue" %> or
      <%= link_to 'Sign up', new_user_registration_path,
                  class: "btn btn-sm btn-blue"  %>
    <% end %>
