<% if user_signed_in? %>
  <% if current_user.applicant_detail.blank? %>
    <div class="m-2">
        <%= link_to 'Registration', new_applicant_detail_path,
                    class: 'btn btn-blue' %>
      <p class ="mt-2">
        As you advance through the application process, these directions will be updated. 
        For many items you submit, you will receive an event update on the right side of the screen.
      </p>
    </div>
    <p class='direction_notes'>
      Watch here for special information related to the step you currently
      are on.
    </p>
  <% elsif @current_enrollment.nil? %>
    <div class="m-2">
      <%= link_to 'Camp Application', new_enrollment_path,
                  class: 'btn btn-blue' %>
      
      <p class ="mt-2">The next step is to submit your application.</p>
      <p>Check your work before submitting. Once review of your application begins, you will not be able to make changes.</p>
    </div>
      <p class='direction_notes'>Make sure that you have gathered all the
        required information, then work your way through the sections.
      </p>
     
      <div class='direction_notes'>
        <ul class="dirdot">
          <li class="dirdot">High School Address</li>
          <li class="dirdot">Transcript (in pdf, png, or jpg format)</li>
          <li class="dirdot">Your personal statement</li>
        </ul>
      </div>
        <p class='direction_notes'>
          You will be selecting the activities and courses you wish to participate in. 
          After this stage is complete, your next step will be to rank the courses 
          related to your interest.
        </p>
        
  <% elsif @current_enrollment.course_preferences.pluck(:ranking).any?{ |e| e.nil? } %>
    <div class="m-2">
      <%= link_to 'Course-Rankings',
                        enrollment_course_preferences_path(@current_enrollment.id),
                        class: 'btn btn-blue' %>
        <p class="mt-2">
          The next step is to rank the courses you selected in priority of interest. You should give a 
          rank of "1" for the first or highest preferred course.
        </p>
    </div>
    <div class='m-2 direction_notes'>Make sure that you give each course you selected a ranking. </div>   
  <% elsif @current_enrollment.recommendation.blank? %>
    <div class="m-2">
      <%= link_to "Request Letter of Recommendation",
                  new_enrollment_recommendation_path(@current_enrollment),
                  class: 'btn btn-blue'  %>
        <p class="mt-2">Please ask one of your most recent high school science or math
      teachers to submit a Letter of Recommendation. </p>
    </div>
    <div class='direction_notes'>
      This is a required part
      of your application. Your recommender will be sent an email giving
      them directions on how to submit a recommendation for you, so please
      be certain that you enter their correct email address.
    </div>
  <% elsif current_user.payments.current_camp_payments.empty? %>
    <div class="m-2">Now that you've submitted your application, the next step is to make
      sure you pay the <%= humanized_money_with_symbol(current_camp_fee / 100) %> non-refundable application fee
      <%= button_to "pay #{humanized_money_with_symbol(current_camp_fee / 100)} application fee",
                  make_payment_path(amount: current_camp_fee / 100), class: 'bg-blue-700 hover:bg-blue-900 text-gray-100 font-normal py-1 px-2 rounded' %>
    </div>
    <p class="text-red-700 m-2">
      Payment of your application fee must be completed before you will be
      considered for admission.
    </p>
    <p class="direction_notes">
      International students may pay via wire transfer
      (<a href="mailto:mmss@umich.edu">contact our office</a> for more
      information regarding wire transfers for international students.)
    </p>
    <p class="direction_notes">You will receive an email from UM
      MerchantServices confirming your credit card transactions.
    </p>
  <% else %>
    <% if @current_enrollment.offer_status == "offered" %>
      <div class="m-2">
        <p class="direction_notes">
          Please respond to our acceptance offer by making the appropriate
          selection in the Progress Window.</p>
      </div>
    <% elsif @current_enrollment.application_status == "offer accepted" %>
      <div class="m-2">
        <% unless current_enrollment.student_packet.attached? %>
          <p>You need to download, fill out and upload the Student Information Packet using
          the button in the progress window to the right.</p>
        <% end %>
        <p>Payment of the program tuition and fees is due by
        <%= @application_materials_due_date.strftime("%B %e, %Y") %>. To 
        check your account balance click the button below.</p>
        <div class="my-2">
          <%= link_to "Account Summary", all_payments_path, class: "btn btn-blue pt-8"%>
        </div>
      </div>
    <% elsif @current_enrollment.application_status == "offer declined" %>
      <div class="m-2">
        <p class="direction_notes">
          Thanks for your interest.
        </p>
      </div>
    <% elsif @current_enrollment.application_status == "enrolled" %>
      <div class="m-2">
        <p class="direction_notes">
          We look forward to seeing you at the <%= @current_camp_year %> University of Michigan MMSS High School Summer Program.
        </p>
      </div>
    <% else %>
      <div class="m-2">
        <p class="direction_notes">
          At this point, you have submitted all of the information needed from
          YOU. 
          <% if @current_enrollment.recommendation.recupload.blank? %>
            However, <strong>please note that your application will not be
            considered "complete", and will not be reviewed until we receive the
            letter of recommendation from your teacher. Please check with your
            teacher to make sure they know you have applied, and they have
            received an email from us!</strong>
          <% end %>
        </p>
      </div>
    <% end %>

    <% if @current_enrollment.financial_aids.blank? &&
    (@current_enrollment.application_status == nil || @current_enrollment.application_status == "" ||
    @current_enrollment.application_status == "submitted" || @current_enrollment.application_status == "application complete") %>
        <div class="m-2">
          <p class="mb-2">If you are applying for need-based financial support, please fill out a request.</p>
          <%= link_to "Financial Aid Request", new_enrollment_financial_aid_path(@current_enrollment),
                class: "btn btn-blue" %>
        </div>
    <% end %>

    <p class="direction_notes"> Watch the progress window at the right
      to track the status of your application materials. You will receive an
      email with instructions for any additional steps that are required.
    </p>
  <% end %>

<% else %>
  <% if @active_camp_exists %>
    <% if registration_open %>
      <div class="mt-2">
        <%= link_to 'Sign up', new_user_registration_path,
                  class: "btn btn-blue"  %>
        <%= link_to 'Returning User - Sign In', new_user_session_path,
                    class: "btn btn-blue" %>
      </div>
    <% elsif new_registration_closed %>
      <div class="mt-2">
        <p class='direction_notes mb-2' >We have closed the registration for new applications.</p>
        <%= link_to 'Returning User - Sign In', new_user_session_path,
                  class: "btn btn-blue" %>
      </div>
    <% else %>
      <div class='direction_notes mt-2' >
        MMSS Student Portal will be open for registration <%= current_camp_year_app_opens.strftime("%B %d, %Y") %>.
      </div>
    <% end %>
  <% else %>
    <div class="mt-2">
        <p class='direction_notes mb-2' >There are currently no active camps.</p>
    </div>
  <% end %>
<% end %>
