<h2>Directions:</h2>

    <% if user_signed_in? %>
      <% if current_user.applicant_detail.nil? %>
        <li>The first step is to <%= link_to 'Register', new_applicant_detail_path, :class => 'btn-sm btn-green' %>,
          so that we know who you are.
        </li>
        <p class='direction_notes'>
          As you advance through the online application process, the directions
          will update accordingly to your progress. Likewise, new bars will
          appear and some will disappear as each item is completed. For many
          items you submit, you will receive an email notification and/or an
          event update on the right side of the screen.
        </p>
      <% else %>
        <!-- <li class="block mt-4 sm:inline-block sm:mt-0 text-blue-200 hover:text-white mr-4"> <%= link_to 'Applicant Details', applicant_detail_path(current_user.applicant_detail) %> </li> -->
        <li class="block mt-4 sm:inline-block sm:mt-0 text-blue-200 hover:text-white mr-4"> <%= link_to 'Camp Enrollments', enrollments_path %> </li>
      <% end %>

      <!-- <li class="block mt-4 sm:inline-block sm:mt-0 text-blue-200 hover:text-white mr-4"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li> -->
    <% else %>
      <li class="block mt-4 sm:inline-block sm:mt-0 text-blue-200 hover:text-white mr-4"><%= link_to 'Sign in', new_user_session_path %></li>
      <li class="block mt-4 sm:inline-block sm:mt-0 text-blue-200 hover:text-white mr-4"><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
<!-- <p>
  The first step is to <span class="text-green-900">register</span>, so that we
  know who you are.
</p>
<p>
  Click on the grey registration bar below and fill out the form. As you
  advance through the online application process, the directions will update
  accordingly to your progress. Likewise, new bars will appear and some will
  disappear as each item is completed. For many items you submit, you will
  receive an email notification and/or an event update on the right side of the
  screen.
</p> -->
