<p id="notice"><%= notice %></p>

<h1>Travels</h1>

<table>
  <thead>
    <tr>
      <th>Enrollment</th>
      <th>Direction</th>
      <th>Transport needed</th>
      <th>Date</th>
      <th>Mode</th>
      <th>Carrier</th>
      <th>Route num</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.enrollment_id %></td>
        <td><%= travel.direction %></td>
        <td><%= travel.transport_needed %></td>
        <td><%= travel.date %></td>
        <td><%= travel.mode %></td>
        <td><%= travel.carrier %></td>
        <td><%= travel.route_num %></td>
        <td><%= travel.note %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
        <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel', new_travel_path %>
