<p id="notice"><%= notice %></p>

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Camp configuration</th>
      <th>Description</th>
      <th>Begin date</th>
      <th>End date</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.camp_configuration_id %></td>
        <td><%= session.description %></td>
        <td><%= session.begin_date %></td>
        <td><%= session.end_date %></td>
        <td><%= session.active %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
