<p id="notice"><%= notice %></p>

<p>
  <strong>Camp configuration:</strong>
  <%= @session.camp_configuration_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @session.description %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @session.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @session.end_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @session.active %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
