<%= form_with(model: financial_aid, local: true) do |form| %>
  <% if financial_aid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_aid.errors.count, "error") %> prohibited this financial_aid from being saved:</h2>

      <ul>
        <% financial_aid.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :note, "Please include a brief explanation of why you are applying for financial support" %>
    <%= form.text_area :note %>
  </div>

<h4>Upload the first page of Tax Return</h4>
  <% if @financial_aid.taxform.attached? %>
    <div class='current-uploaded-docs'>
      <p>
        <strong>Tax Form currently uploaded:</strong>
        <%= link_to @financial_aid.taxform.filename, url_for(@financial_aid.taxform) %>
      </p>
    </div>
    <div class="field">
      <%= form.label :taxform, 'Update Tax Form' %>
      <%= form.file_field :taxform %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :taxform, class: 'important' %>
      <%= form.file_field :taxform, required: true %>
    </div>
  <% end %>
<p class="direction_notes">
  <span class="text-red-500">
    Please upload a pdf copy of your parents' or guardians' latest tax return (first page only) with the Social Security Number redacted.
  </span>
  <br>
    To be considered for support, it will be necessary to provide the MMSS program with a copy of your parents' or guardians' latest tax return (first page only). Your application for financial aid will not be considered until the MMSS program receives this document. Include any additional documentation describing extenuating circumstances.
  <br><br>
    If you can not upload your Tax Form electronically, please send a copy
    your parents' or guardians' latest tax return (first page only) with the Social Security Number redacted to:
</p>
  <address>
    Michigan Math and Science Scholars<br>
    Department of Mathematics<br>
    530 Church Street<br>
    2074 East Hall<br>
    Ann Arbor, MI 48109-1043
  </address>
<p class="direction_notes">
  If you can not upload your transcript electronically.
    The transcript can be mailed to the above address, faxed to 734.763.0937 or
    e-mailed as a scanned attachment to mmss@umich.edu, You will be notified by email when your
    transcript has arrived in the MMSS office.
  <br>
  <span class="text-red-500">
    Your application will not be considered complete and reviewed until we have
    received this material.
  </span>
</p>

  <% if admin_signed_in? %>
    <h2>========== Administrative area ==========</h2>
    <div class="field">
    <%= form.label :amount_cents %>
    <%= form.number_field :amount_cents %>
    </div>

    <div class="field">
      <%= form.label :source %>
      <%= form.text_field :source %>
    </div>

    <div class="field">
      <%= form.label :awarded %>
      <%= form.check_box :awarded %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.text_field :status %>
    </div>

  <% end %>

  <div class="actions">
    <% if financial_aid.new_record? %>
      <%= form.submit "Request Financial Aid" %>
    <% else %>
      <%= form.submit "Update Financial Aid Request" %>
    <% end %>
  </div>
<% end %>
