<h1>Financial Aids</h1>

<table>
  <thead>
    <tr>
      <th>Enrollment</th>
      <th>Amount cents</th>
      <th>Source</th>
      <th>Awarded</th>
      <th>Note</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_aids.each do |financial_aid| %>
      <tr>
        <td><%= financial_aid.enrollment_id %></td>
        <td><%= humanized_money_with_symbol(financial_aid.amount_cents) %></td>
        <td><%= financial_aid.source %></td>
        <td><%= financial_aid.awarded %></td>
        <td><%= financial_aid.note %></td>
        <td><%= financial_aid.status %></td>
        <td><%= link_to 'Show', financial_aid %></td>
        <td><%= link_to 'Edit', edit_financial_aid_path(financial_aid) %></td>
        <td><%= link_to 'Destroy', financial_aid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial Aid', new_financial_aid_path %>
