<% if admin_signed_in? %>
  <p>
    <strong>Enrollment:</strong>
    <%= @financial_aid.last.enrollment_id %>
  </p>
<% end %>

<% @financial_aids.each do |fa| %>
  <p>
    <strong>Amount:</strong>
    <%= humanized_money_with_symbol(fa.amount) %>
  </p>
  <p>
    <strong>Source:</strong>
    <%= fa.source %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= fa.status %>
  </p>
  <p>
    <strong>Note:</strong>
    <%= fa.note %>
  </p>
  <hr>
<% end %>


<%#= link_to 'Edit |', edit_financial_aid_path(@financial_aid) unless @financial_aid.awarded %>
<%= link_to 'Home', root_path %>
