<% if admin_signed_in? %>
  <p>
    <strong>Enrollment:</strong>
    <%= @financial_aid.enrollment_id %>
  </p>
<% end %>

<% enroll_id = @financial_aid.enrollment_id %>
  <% FinancialAid.where(enrollment_id: enroll_id).each do |fa| %>
    <p>
      <strong>Amount:</strong>
      <%= humanized_money_with_symbol(fa.amount) %>
    </p>
    <p>
      <strong>Source:</strong>
      <%= fa.source %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= fa.status %>
  </p>
<% end %>



<p>
  <strong>Note:</strong>
  <%= @financial_aid.note %>
</p>


<%#= link_to 'Edit |', edit_financial_aid_path(@financial_aid) unless @financial_aid.awarded %>
<%= link_to 'Home', root_path %>
