<% if admin_signed_in? %>
  <p>
    <strong>Enrollment:</strong>
    <%= @financial_aid.enrollment_id %>
  </p>
<% end %>

<% if @financial_aid.awarded %>
  <p>
    <strong>Awarded:</strong>
    <%= @financial_aid.awarded %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= humanized_money_with_symbol(@financial_aid.amount_cents) %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= @financial_aid.source %>
  </p>
<% end %>

<p>
  <strong>Note:</strong>
  <%= @financial_aid.note %>
</p>

<p>
  <strong>Status:</strong>
  <% if @financial_aid.status %>
    <%= @financial_aid.status %>
  <% else %>
    Pending
  <% end %>
</p>

<%= link_to 'Edit |', edit_financial_aid_path(@financial_aid) unless @financial_aid.awarded %>
<%= link_to 'Home', root_path %>
