<div class="max-w rounded overflow-hidden shadow-lg">
  <h1 class="text-yellow-um_yellow bg-blue-um_blue p-2">
    <p class="text-center text-lg">Your Financial Aid Request</p>
</h1>
    

<div class="px-6 py-4">   
<% fin_aid_status = @financial_aid.pluck(:status) %>
<% if fin_aid_status.count("rejected") == fin_aid_status.count %>
<h3>Here is the status of your Financial Aid request</h3>
  <p>
    <strong>Status:</strong>
    <%= "rejected" %>
  </p>
<% elsif fin_aid_status.count("pending") == fin_aid_status.count %>
  <p>
    <strong>Status:</strong>
    <%= "pending" %>
  </p>
<% elsif fin_aid_status.count("awarded") == fin_aid_status.count %>
  <p>
    <strong>Amount:</strong>
    <%= humanized_money_with_symbol(@financial_aid.pluck(:amount_cents).sum.to_i / 100 ) %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= "awarded" %>
  </p>
<% elsif fin_aid_status.count("pending") == fin_aid_status.count %>
  <p>
    <strong>Amount:</strong>
    <%= humanized_money_with_symbol(@financial_aid.pluck(:amount_cents).sum.to_i / 100 ) %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= "pending" %>
  </p>
<% else %>
  <% @financial_aids.each do |fa| %>
    <% if fa.status != "rejected" %>
      <p>
        <strong>Amount:</strong>
        <%= humanized_money_with_symbol(fa.amount) %>
      </p>
      <p>
        <strong>Status:</strong>
        <%= fa.status %>
      </p>
      <hr>
    <% end %>
  <% end %>
<% end %>

<% if admin_signed_in? %>
<h2>========== Administrative area ==========</h2>
  <p>
    <strong>Enrollment:</strong>
    <%= @financial_aid.last.enrollment_id %>
  </p>
<% end %>
</div>
</div>

<div class="mt-2">
  <%= link_to 'Home', root_path, class: "btn btn-blue" %>
</div>
