<%= form_with(model: [ @enrollment, recommendation ], local: true) do |form| %>
  <% if recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
        <% recommendation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
  Please ask one of your most recent high school science or math teachers to
  submit a Letter of Recommendation. This is a required part of your
  application.

Your recommender will be sent an email giving them directions on how to submit a
 recommendation for you, so please be certain that you enter their correct email
  address.
</p>
<p>
  <strong>Below you will enter the details of the person who will be providing a
   letter of recommendation for you:</strong>
</p>

  <div class="field">

    <%= form.text_field :enrollment_id, hidden: true %>
  </div>

  <div class="field">
    <%= form.label :email, "Recommenders email", class: 'important'  %>
    <%= form.text_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :firstname, class: 'important'  %>
    <%= form.text_field :firstname, required: true %>
  </div>

  <div class="field">
    <%= form.label :lastname, class: 'important'  %>
    <%= form.text_field :lastname, required: true %>
  </div>

  <div class="field">
    <%= form.label :organization, "High School/Organization" %>
    <%= form.text_field :organization %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :state_non_us %>
    <%= form.text_field :state_non_us %>
  </div>

  <div class="field">
    <%= form.label :postalcode %>
    <%= form.text_field :postalcode %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.country_select :country, priority_countries: ["US"],
                            include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :best_contact_time %>
    <%= form.text_field :best_contact_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
