<% if admin_signed_in? %>
  <p>
    <strong>Enrollment:</strong>
    <%= @recommendation.enrollment_id %>
  </p>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @recommendation.email %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @recommendation.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @recommendation.firstname %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @recommendation.organization %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @recommendation.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @recommendation.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @recommendation.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @recommendation.state %>
</p>

<p>
  <strong>State non us:</strong>
  <%= @recommendation.state_non_us %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @recommendation.postalcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @recommendation.country %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @recommendation.phone_number %>
</p>

<p>
  <strong>Best contact time:</strong>
  <%= @recommendation.best_contact_time %>
</p>

<p>
  <strong>Recommendation Letter status :</strong>
  <%# @recommendation.submitted_recommendation %>
  <% if current_user.enrollments.last.recommendation.recupload.present? %>
    - letter received
    <br>
      <strong>Date received:</strong>
      <%= current_user.enrollments.last.recommendation.recupload.created_at.strftime("%B %d, %Y") %>
  <% else %>
    - requested
  <% end %>
</p>
<% if current_user.enrollments.last.recommendation.recupload.blank? %>
  <%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<% end %>
<%= link_to 'Home', root_path %>
