<p>All fields are required unless marked <span class="text-gray-700">(optional)</span></p>
<%= form_with(model: applicant_detail, local: true) do |form| %>
  <% if applicant_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant_detail.errors.count, "error") %> prohibited this applicant_detail from being saved:</h2>

      <ul>
        <% applicant_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h2 class="section-header">Applicant Information</h2>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, required: true %>
  </div>

  <div class="field">
    <%= form.label :middlename, class: 'form-optional' %>
    <%= form.text_field :middlename %>
  </div>

  <div class="field">
    <%= form.label :lastname%>
    <%= form.text_field :lastname, required: true %>
  </div>

  <div class="field">
    <%= form.label :address1%>
    <%= form.text_field :address1, required: true %>
  </div>

  <div class="field">
    <%= form.label :address2, class: 'form-optional'  %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city%>
    <%= form.text_field :city, required: true %>
  </div>

  <div class="field state-select">
    <%= form.label :state%>
    <%= form.select :state, us_states, include_blank: "Select", required: true %>
  </div>

  <div class="field">
    <%= form.label :state_non_us, class: 'form-optional'%>
    <%= form.text_field :state_non_us %>
  </div>

  <div class="field country-select">
    <%= form.label :country%>
    <%= form.country_select :country, priority_countries: ["US"], include_blank: "Select", required: true %>
  </div>

  <div class="field">
    <%= form.label :postalcode %>
    <%= form.text_field :postalcode, required: true %>
  </div>

  <div class="field">
    <%= form.label :phone%>
    <%= form.text_field :phone, required: true %>
  </div>

  <div class="field">
    Birthdate:<br>
    <div class="date_select">
      <%= form.date_select :birthdate, start_year: Date.today.year - 19, end_year: Date.today.year - 12, prompt: "Select",required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :diet_restrictions, class: 'form-optional'  %>
    <%= form.text_area :diet_restrictions %>
  </div>

<h2 class="section-header">Parent/Guardian Information</h2>

  <div class="field">
    <%= form.label :parentname %>
    <%= form.text_field :parentname, required: true %>
  </div>

  <div class="field">
    <%= form.label :parentaddress1, class: 'form-optional' %>
    <%= form.text_field :parentaddress1 %>
  </div>

  <div class="field">
    <%= form.label :parentaddress2, class: 'form-optional' %>
    <%= form.text_field :parentaddress2 %>
  </div>

  <div class="field">
    <%= form.label :parentcity, class: 'form-optional' %>
    <%= form.text_field :parentcity %>
  </div>

  <div class="field state-select">
    <%= form.label :parentstate, class: 'form-optional' %>
    <%= form.select :parentstate, us_states, include_blank: "Select" %>

  </div>

  <div class="field">
    <%= form.label :parentstate_non_us, class: 'form-optional' %>
    <%= form.text_field :parentstate_non_us %>
  </div>

  <div class="field">
    <%= form.label :parentzip, class: 'form-optional' %>
    <%= form.text_field :parentzip %>
  </div>

  <div class="field country-select">
    <%= form.label :parentcountry, class: 'form-optional' %>
    <%= form.country_select  :parentcountry, priority_countries: ["US"], include_blank: "Select" %>
  </div>

  <div class="field">
    <%= form.label :parentphone %>
    <%= form.text_field :parentphone, required: true %>
  </div>

  <div class="field">
    <%= form.label :parentworkphone, class: 'form-optional' %>
    <%= form.text_field :parentworkphone %>
  </div>

  <div class="field">
    <%= form.label :parentemail %>
    <%= form.text_field :parentemail, required: true %>
  </div>

  <h2 class= "section-header">Applicant Demographics</h2>

  <div class="field">
    <p class="direction_notes">
      Please contact 
      <%= mail_to "mmss@umich.edu", subject: "I need special rooming arrangements based on my gender identity"  do %>
        <strong>mmss@umich.edu</strong>
      <% end %> if you need special rooming arrangements
      based on your gender identity.
    </p>
      <%= form.label :gender%>
      <%= form.collection_select(:gender, Gender.all, :id, :name, {include_blank: "Select"}) %>
  </div>

  <div class="field">
    <div class="mt-2">
      <%= form.check_box :us_citizen, class: "form-checkbox"  %>
      <%= form.label :us_citizen, "US Citizen", class: "inline-flex items-center ml-1" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :demographic, "Race/Ethnicity", class: 'form-optional'  %>
    <%= form.collection_select(:demographic, Demographic.all, :id, :name, include_blank: "Select") %>
  </div>


  <div class="actions">
    <% if applicant_detail.new_record? %>
      <%= form.submit "Register" %>
    <% else %>
      <%= form.submit "Update" %>
    <% end %>
  </div>
<% end %>
