<%= form_with(model: applicant_detail, local: true) do |form| %>
  <% if applicant_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant_detail.errors.count, "error") %> prohibited this applicant_detail from being saved:</h2>

      <ul>
        <% applicant_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h4 class="section-header">Applicant Information</h4>

  <div class="field">
    <%= form.label :firstname, class: 'important' %>
    <%= form.text_field :firstname, required: true %>
  </div>

  <div class="field">
    <%= form.label :middlename %>
    <%= form.text_field :middlename %>
  </div>

  <div class="field">
    <%= form.label :lastname, class: 'important' %>
    <%= form.text_field :lastname, required: true %>
  </div>

  <div class="field">
    <%= form.label :address1, class: 'important' %>
    <%= form.text_field :address1, required: true %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city, class: 'important' %>
    <%= form.text_field :city, required: true %>
  </div>

  <div class="field">
    <%= form.label :state, class: 'important' %>
    <%= form.select :state, us_states, {}, include_blank: true, required: true %>
  </div>

  <div class="field">
    <%= form.label :state_non_us, "State if (Non-US)" %>
    <%= form.text_field :state_non_us %>
  </div>

  <div class="field">
    <%= form.label :country, class: 'important' %>
    <%= form.country_select :country, priority_countries: ["US"], include_blank: true, required: true %>
  </div>

  <div class="field">
    <%= form.label :postalcode, class: 'important' %>
    <%= form.text_field :postalcode, required: true %>
  </div>

  <div class="field">
    <%= form.label :phone, class: 'important' %>
    <%= form.text_field :phone, required: true %>
  </div>

  <div class="field">
    <%= form.label :birthdate, class: 'important' %>
    <%= form.date_select :birthdate, start_year: 1995, include_blank: true, required: true %>
  </div>

  <div class="field">
    <%= form.label :shirt_size, class: 'important' %>
    <%= form.select :shirt_size, ["small","medium","large","xlarge","2xlarge"], {}, include_blank: true, required: true %>
  </div>

  <div class="field">
    <%= form.label :diet_restrictions %>
    <%= form.text_area :diet_restrictions %>
  </div>

<h4 class="section-header">Parent/Guardian Information</h4>

  <div class="field">
    <%= form.label :parentname, class: 'important' %>
    <%= form.text_field :parentname, required: true %>
  </div>

  <div class="field">
    <%= form.label :parentaddress1 %>
    <%= form.text_field :parentaddress1 %>
  </div>

  <div class="field">
    <%= form.label :parentaddress2 %>
    <%= form.text_field :parentaddress2 %>
  </div>

  <div class="field">
    <%= form.label :parentcity %>
    <%= form.text_field :parentcity %>
  </div>

  <div class="field">
    <%= form.label :parentstate %>
    <%= form.select :parentstate, us_states, {} %>

  </div>

  <div class="field">
    <%= form.label :parentstate_non_us, "Parent State if (Non-US)" %>
    <%= form.text_field :parentstate_non_us %>
  </div>

  <div class="field">
    <%= form.label :parentzip %>
    <%= form.text_field :parentzip %>
  </div>

  <div class="field">
    <%= form.label :parentcountry %>
    <%= form.country_select  :parentcountry, priority_countries: ["US"], include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :parentphone, class: 'important' %>
    <%= form.text_field :parentphone, required: true %>
  </div>

  <div class="field">
    <%= form.label :parentworkphone %>
    <%= form.text_field :parentworkphone %>
  </div>

  <div class="field">
    <%= form.label :parentemail, class: 'important' %>
    <%= form.text_field :parentemail, required: true %>
  </div>

  <h4 class= "section-header">Applicant Demographics</h4>

  <div class="field">
    <p class="direction_notes">
      Please contact mmss@umich.edu if you need special rooming arrangements
      based on your gender identity?
    </p>
      <%= form.label :gender, class: 'important' %>
      <%= form.collection_select(:gender, Gender.all, :id, :name, {include_blank: true}) %>
  </div>

  <div class="field">
    <div class="mt-2">
      <%= form.check_box :us_citizen, class: "form-checkbox" %>
      <%= form.label :us_citizen, "US Citizen", class: "inline-flex items-center ml-1" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :demographic, "Race/Ethnicity" %>
    <%= form.collection_select(:demographic, Demographic.all, :id, :name, include_blank: "-- Please Select --") %>
  </div>


  <div class="actions">
    <% if applicant_detail.new_record? %>
      <%= form.submit "Register" %>
    <% else %>
      <%= form.submit "Update" %>
    <% end %>
  </div>
<% end %>
