<p id="notice"><%= notice %></p>

<h1>Applicant Details</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Firstname</th>
      <th>Middlename</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Us citizen</th>
      <th>Demographic</th>
      <th>Birthdate</th>
      <th>Diet restrictions</th>
      <th>Shirt size</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>State non us</th>
      <th>Postalcode</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Parentname</th>
      <th>Parentaddress1</th>
      <th>Parentaddress2</th>
      <th>Parentcity</th>
      <th>Parentstate</th>
      <th>Parentstate non us</th>
      <th>Parentzip</th>
      <th>Parentcountry</th>
      <th>Parentphone</th>
      <th>Parentworkphone</th>
      <th>Parentemail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicant_details.each do |applicant_detail| %>
      <tr>
        <td><%= applicant_detail.user_id %></td>
        <td><%= applicant_detail.firstname %></td>
        <td><%= applicant_detail.middlename %></td>
        <td><%= applicant_detail.lastname %></td>
        <td><%= applicant_detail.gender %></td>
        <td><%= applicant_detail.us_citizen %></td>
        <td><%= applicant_detail.demographic %></td>
        <td><%= applicant_detail.birthdate %></td>
        <td><%= applicant_detail.diet_restrictions %></td>
        <td><%= applicant_detail.shirt_size %></td>
        <td><%= applicant_detail.address1 %></td>
        <td><%= applicant_detail.address2 %></td>
        <td><%= applicant_detail.city %></td>
        <td><%= applicant_detail.state %></td>
        <td><%= applicant_detail.state_non_us %></td>
        <td><%= applicant_detail.postalcode %></td>
        <td><%= applicant_detail.country %></td>
        <td><%= applicant_detail.phone %></td>
        <td><%= applicant_detail.parentname %></td>
        <td><%= applicant_detail.parentaddress1 %></td>
        <td><%= applicant_detail.parentaddress2 %></td>
        <td><%= applicant_detail.parentcity %></td>
        <td><%= applicant_detail.parentstate %></td>
        <td><%= applicant_detail.parentstate_non_us %></td>
        <td><%= applicant_detail.parentzip %></td>
        <td><%= applicant_detail.parentcountry %></td>
        <td><%= applicant_detail.parentphone %></td>
        <td><%= applicant_detail.parentworkphone %></td>
        <td><%= applicant_detail.parentemail %></td>
        <td><%= link_to 'Show', applicant_detail %></td>
        <td><%= link_to 'Edit', edit_applicant_detail_path(applicant_detail) %></td>
        <td><%= link_to 'Destroy', applicant_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant Detail', new_applicant_detail_path %>
