<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <div class="text-yellow-um_yellow bg-blue-um_blue p-2">
    <p class="text-center text-lg"><%= @applicant_detail.firstname %> <%= @applicant_detail.middlename %> <%= @applicant_detail.lastname %></p>
  </div>
  <div class="px-6 py-4">
    <span class="bg-gray-200 rounded-full px-3 py-1 text-sm text-gray-700 mr-2 mb-2">Birthdate: <%= @applicant_detail.birthdate.strftime("%B %d, %Y") %></span>
    <div class="bg-gray-100 rounded-lg px-3 py-1 text-sm text-gray-700 mr-2 mb-2">
      Diet restrictions: <%= @applicant_detail.diet_restrictions %>
    </div>
    <div class="bg-gray-200 rounded-lg px-3 py-1 text-sm text-gray-700 mr-2 mb-2">
      <ul>
        <li>Gender: <%= gender_description(@applicant_detail.gender) %></li>
        <li><%= @us_citizen %></li>
        <li>Demographic: <%= demographic_description(@applicant_detail) %></li>
      </ul>
    </div>
    <p class="text-gray-700 text-base">
      Address:
      <ul class="pl-4">
        <li><%= @applicant_detail.address1 %></li>
        <li><%= @applicant_detail.address2 %></li>
        <li><%= @applicant_detail.city %>, <%= @applicant_detail.state %> <%= @applicant_detail.state_non_us %> <%= @applicant_detail.postalcode %></li>
        <li><%= @applicant_detail.country %></li>
        <li><%= @applicant_detail.phone %></li>
      </ul>
    </p>
    <div class="text-base my-2 border-2 border-gray-200">
      <p class="text-gray-700 text-base">
        Parent information:
        <ul class="pl-4">
          <li><%= @applicant_detail.parentname %></li>
          <li><%= @applicant_detail.parentaddress1%></li>
          <li><%= @applicant_detail.parentaddress2 %></li>
          <li><%= @applicant_detail.parentcity %> <%= @applicant_detail.parentstate %> <%= @applicant_detail.parentstate_non_us %> <%= @applicant_detail.parentzip %></li>
          <li><%= @applicant_detail.parentcountry %></li>
          <li>Phone:
            <ul class="pl-2">
              <li><%= @applicant_detail.parentphone %></li>
              <li><%= @applicant_detail.parentworkphone %></li>
            </ul>
          </li>
          <li>eMail: <%= @applicant_detail.parentemail %></li>
        </ul>
      </p>
    </div>

  </div>
</div>

<% if admin_signed_in? %>
<h2>========== Administrative area ==========</h2>
  <p>
    <strong>User:</strong>
    <%= @applicant_detail.user_id %>
  </p>
<% end %>

<div class="mt-2">
  <%= link_to 'Edit', edit_applicant_detail_path(@applicant_detail), class: "btn btn-blue" %> |
  <%= link_to 'Home', root_path, class: "btn btn-blue" %>
</div>
