<% if admin_signed_in? %>
  <p>
    <strong>User:</strong>
    <%= @applicant_detail.user_id %>
  </p>
<% end %>

<p>
  <strong>Firstname:</strong>
  <%= @applicant_detail.firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @applicant_detail.middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @applicant_detail.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @applicant_detail.birthdate.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Diet restrictions:</strong>
  <%= @applicant_detail.diet_restrictions %>
</p>

<p>
  <strong>Shirt size:</strong>
  <%= @applicant_detail.shirt_size %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @applicant_detail.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @applicant_detail.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @applicant_detail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @applicant_detail.state %>
</p>

<p>
  <strong>State non us:</strong>
  <%= @applicant_detail.state_non_us %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @applicant_detail.postalcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @applicant_detail.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @applicant_detail.phone %>
</p>

<p>
  <strong>Parentname:</strong>
  <%= @applicant_detail.parentname %>
</p>

<p>
  <strong>Parentaddress1:</strong>
  <%= @applicant_detail.parentaddress1 %>
</p>

<p>
  <strong>Parentaddress2:</strong>
  <%= @applicant_detail.parentaddress2 %>
</p>

<p>
  <strong>Parentcity:</strong>
  <%= @applicant_detail.parentcity %>
</p>

<p>
  <strong>Parentstate:</strong>
  <%= @applicant_detail.parentstate %>
</p>

<p>
  <strong>Parentstate non us:</strong>
  <%= @applicant_detail.parentstate_non_us %>
</p>

<p>
  <strong>Parentzip:</strong>
  <%= @applicant_detail.parentzip %>
</p>

<p>
  <strong>Parentcountry:</strong>
  <%= @applicant_detail.parentcountry %>
</p>

<p>
  <strong>Parentphone:</strong>
  <%= @applicant_detail.parentphone %>
</p>

<p>
  <strong>Parentworkphone:</strong>
  <%= @applicant_detail.parentworkphone %>
</p>

<p>
  <strong>Parentemail:</strong>
  <%= @applicant_detail.parentemail %>
</p>

<p>
  <strong>Gender:</strong>
  <%= gender_description(@applicant_detail.gender) %>
</p>

<p>
  <strong>US citizen:</strong>
  <%= @applicant_detail.us_citizen %>
</p>
<p>
  <strong>Demographic:</strong>
    <%= demographic_description(@applicant_detail) %>
</p>

<div class="mt-2">
  <%= link_to 'Edit', edit_applicant_detail_path(@applicant_detail), class: "btn btn-blue" %> |
  <%= link_to 'Home', root_path, class: "btn btn-blue" %>
</div>