<p id="notice"><%= notice %></p>

<h1>Recuploads</h1>

<table>
  <thead>
    <tr>
      <th>Letter</th>
      <th>Authorname</th>
      <th>Studentname</th>
      <th>Recommendation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recuploads.each do |recupload| %>
      <tr>
        <td><%= recupload.letter %></td>
        <td><%= recupload.authorname %></td>
        <td><%= recupload.studentname %></td>
        <td><%= recupload.recommendation_id %></td>
        <td><%= link_to 'Show', recupload %></td>
        <td><%= link_to 'Edit', edit_recupload_path(recupload) %></td>
        <td><%= link_to 'Destroy', recupload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recupload', new_recupload_path %>
