<%= form_with(model: [ @camp_configuration, camp_occurrence ], local: true) do |form| %>
  <% if camp_occurrence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camp_occurrence.errors.count, "error") %> prohibited this camp_occurrence from being saved:</h2>

      <ul>
        <% camp_occurrence.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :camp_configuration_id %>
    <%= form.text_field :camp_configuration_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :begin_date %>
    <%= form.date_select :begin_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
