<p id="notice"><%= notice %></p>

<h1>Camp Occurrence</h1>

<table>
  <thead>
    <tr>
      <th>Camp configuration</th>
      <th>Description</th>
      <th>Begin date</th>
      <th>End date</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camp_occurrences.each do |camp_occurrence| %>
      <tr>
        <td><%= camp_occurrence.camp_configuration_id %></td>
        <td><%= camp_occurrence.description %></td>
        <td><%= camp_occurrence.begin_date %></td>
        <td><%= camp_occurrence.end_date %></td>
        <td><%= camp_occurrence.active %></td>
        <td><%= link_to 'Show', camp_occurrence %></td>
        <td><%= link_to 'Edit', edit_camp_occurrence_path(camp_occurrence) %></td>
        <td><%= link_to 'Destroy', camp_occurrence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camp Occurrence', new_camp_occurrence_path %>
