
<p>
  <strong>Camp configuration:</strong>
  <%= @camp_occurrence.camp_configuration_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @camp_occurrence.description %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @camp_occurrence.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @camp_occurrence.end_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @camp_occurrence.active %>
</p>

<%= link_to 'Edit', edit_camp_configuration_camp_occurrence_path(@camp_configuration, @camp_occurrence) %> |
<%= link_to 'Back', camp_configuration_path(@camp_configuration) %>
