
<p>
  <strong>Camp configuration:</strong>
  <%= @camp_occurrence.camp_configuration_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @camp_occurrence.description %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @camp_occurrence.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @camp_occurrence.end_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @camp_occurrence.active %>
</p>

<%= link_to 'Edit', edit_camp_configuration_camp_occurrence_path(@camp_configuration, @camp_occurrence) %> |
<%= link_to 'Back', camp_configuration_path(@camp_configuration) %>

<% if @camp_occurrence.activities.any? %>
  <hr>
  <h2>Activities for <%= @camp_occurrence.description %>: </h2>
  <%= render @camp_occurrence.activities %>
  <% end %>

<hr>

<h2>Add an activity:</h2>
<%= render 'activities/form', activity: @camp_occurrence.activities.build %>