
<h4>Hello <%= "#{@recommendation.firstname} #{@recommendation.lastname}" %></h4>
<p>
  You are receiving this email because a student applying to the University
  of Michigan's - Michigan Math & Science Scholars High School Summer
  Program has listed you as a recommender.
  <br>
  Please follow the link below by either clicking on it, or pasting it into
  the address line of your favorite web browser. You will be taken to a
  web-page where you can type or paste in your recommendation for
  <%= "#{@student.firstname} #{@student.lastname}" %>.
  <br>
  <%= link_to "Recommendation Submission", @url %>
  <br>
  Trouble clicking the link above?
  <br>
  The link provided in this email starts with “https://lsa-math-mmss.miserver.it.umich.edu”. 
  If you prefer, copy the following link and paste it into a browser to view.
  <br>
  <%= @url %>
</p>

<p>
  Thank you very much for assisting with
  <%= "#{@student.firstname} #{@student.lastname}" %>'s academic
  development.
</p>
