<p>All fields are required unless marked <span class="text-gray-700">(optional)</span></p>
<%= form_with(model: enrollment, local: true) do |form| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
        <% enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= content_tag :div, nil, data: {controller: "enrollment"} do %>

    <div>
      <h2 class= "section-header">Sessions</h2>
      <p class="direction_notes">
        If you want to attend multiple sessions, please check the box corresponding
        to each of the sessions you wish to attend.<br><br>If you would like to attend only
        one session, but do not have a preference as to which session, please check
        the <i>"Any Session"</i> box <strong>AND all the boxes corresponding to
        each of the sessions you are able to attend.</strong>
        <br><br>
          You will be charged seperately for each session you attend.
      </p>
      <div class="mt-2">
      <% index = 0 %>
          <%= form.collection_check_boxes(:session_registration_ids, CampOccurrence.active, :id, :description_with_date_and_price, required: true) do |b| %>
            <div>
              <%= b.label(class: "inline-flex items-center") do %>
                <%= b.check_box(class: "form-checkbox mr-2", :"data-action" => "input->enrollment#display_toggle_session", :"data-index" => index, :"data-target" => "enrollment.checkbox") %>
                <%= b.text %>
              <% end %>
            </div>
            <% index = index + 1 %>
          <% end %>
      </div>
    </div>

    <div>
      <h2 class= "section-header">Activities & Services</h2>
      <p class="direction_notes">
        Check the box corresponding to each of the services you want to add for the
        session(s) you selected.
      </p>

      <div id="sessionActivity1" data-target="enrollment.session" class="session--hide">
        <% if @activities_session1.present? %>
          <div class= "text-sm bg-yellow-500">Session 1</div>
          <div class="mt-2">
              <%= form.collection_check_boxes(:registration_activity_ids, @activities_session1, :id, :description_with_cost) do |b| %>
                <div>
                  <%= b.label(class: "inline-flex items-center") do %>
                    <%= b.check_box(class: "form-checkbox mr-2") %>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>

      <div id="sessionActivity2"  data-target="enrollment.session" class="session--hide">
        <% if @activities_session2.present? %>
            <div class= "text-sm bg-yellow-500">Session 2</div>
            <div class="mt-2">
                <%= form.collection_check_boxes(:registration_activity_ids, @activities_session2, :id, :description_with_cost) do |b| %>
                  <div>
                    <%= b.label(class: "inline-flex items-center") do %>
                      <%= b.check_box(class: "form-checkbox mr-2") %>
                      <%= b.text %>
                    <% end %>
                  </div>
                <% end %>
            </div>
        <% end %>
      </div>

      <div id="sessionActivity3" data-target="enrollment.session" class="session--hide">
        <% if @activities_session3.present? %>
          <div class= "text-sm bg-yellow-500">Session 3</div>
          <div class="mt-2">
              <%= form.collection_check_boxes(:registration_activity_ids, @activities_session3, :id, :description_with_cost) do |b| %>
                <div>
                  <%= b.label(class: "inline-flex items-center") do %>
                    <%= b.check_box(class: "form-checkbox mr-2") %>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h2 class= "section-header">Courses</h2>
      <p class="direction_notes">
        Check the box next to each course in which you are interested. You will be able to rank your choices in order of preference in a later step.
      </p>

      <div id="sessionCourses1" data-target="enrollment.courses" class="session--hide">
        <% if @courses_session1.present? %>
          <div class="display-box">
            <div class= "text-sm bg-yellow-500 -mx-2">Session 1</div>
              <%= form.collection_check_boxes(:course_registration_ids, @courses_session1, :id, :title) do |b| %>
                <div>
                  <%= b.label(class: "inline-flex items-center") do %>
                    <%= b.check_box(class: "form-checkbox mr-2") %>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>

      <div id="sessionCourses2" data-target="enrollment.courses" class="session--hide">
        <% if @courses_session2.present? %>
          <div class="display-box">
            <div class= "text-sm bg-yellow-500 -mx-2">Session 2</div>
              <%= form.collection_check_boxes(:course_registration_ids, @courses_session2, :id, :title) do |b| %>
                <div>
                  <%= b.label(class: "inline-flex items-center") do %>
                    <%= b.check_box(class: "form-checkbox mr-2") %>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>

      <div id="sessionCourses3" data-target="enrollment.courses" class="session--hide">
        <% if @courses_session3.present? %>
          <div class="display-box">
            <div class= "text-sm bg-yellow-500 -mx-2">Session 3</div>
              <%= form.collection_check_boxes(:course_registration_ids, @courses_session3, :id, :title) do |b| %>
                <div>
                  <%= b.label(class: "inline-flex items-center") do %>
                    <%= b.check_box(class: "form-checkbox mr-2") %>
                    <%= b.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <h2 class= "section-header">Applicant School History</h2>
    <%= form.text_field :user_id, hidden: true %>

  <div class="field">
    <%= form.hidden_field :campyear, value: current_camp_year %>
  </div>

  <div class="field">
    <%= form.label :year_in_school, "What grade year are you in at school?" %>
    <%= form.text_field :year_in_school, required: true %>
  </div>

  <div class="field">
    <%= form.label :anticipated_graduation_year %>
    <%= form.text_field :anticipated_graduation_year, required: true %>
  </div>

  <div class="field">
    <%= form.label :high_school_name  %>
    <%= form.text_field :high_school_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :high_school_address1  %>
    <%= form.text_field :high_school_address1, required: true %>
  </div>

  <div class="field">
    <%= form.label :high_school_address2, class: 'form-optional' %>
    <%= form.text_field :high_school_address2 %>
  </div>

  <div class="field">
    <%= form.label :high_school_city  %>
    <%= form.text_field :high_school_city, required: true %>
  </div>

  <div class="field">
    <%= form.label :high_school_state  %>
    <%= form.select :high_school_state, us_states, include_blank: "*Select*", required: true %>
  </div>

  <div class="field">
    <%= form.label :high_school_non_us, "High School State if Non-US", class: 'form-optional' %>
    <%= form.text_field :high_school_non_us %>
  </div>

  <div class="field">
    <%= form.label :high_school_postalcode %>
    <%= form.text_field :high_school_postalcode, required: true %>
  </div>

  <div class="field">
    <%= form.label :high_school_country %>
    <%= form.country_select :high_school_country, priority_countries: ["US"], include_blank: "*Select*", required: true %>
  </div>

  <hr>
  <div class="mt-2">
    <%= form.check_box :international, class: "form-checkbox"  %>
    <%= form.label :international, "I require a letter to obtain a Visa", class: "inline-flex items-center ml-1" %>
  </div>

  <div class="field">
    <%= form.label :room_mate_request, "Name of preferred roommate: ", class: 'form-optional' %>
    <%= form.text_field :room_mate_request %>
  </div>

  <h2 class= "section-header">Student Personal Statement</h2>
  <p class="direction_notes">
    Please complete the Student Personal Statement by either typing or pasting it
    into the field below. This <strong>required</strong> part of your application
    MUST be at least 100 characters or more. You should
    include courses you have taken, external influences, computer experience, and
    research interests that draw you to this program, or other relevant
    information to help us evaluate your application material.
  </p>
    <div class="field">
      <%= form.label :personal_statement %>
      <%= form.text_area :personal_statement, size: "30x10", minlength: 100, required: true %>
    </div>

  <h2 class= "section-header">Transcripts</h2>
  <% if enrollment.transcript.attached? %>
    <div class='current-uploaded-docs'>
      <p>
        <strong>Transcript currently uploaded:</strong>
        <%= link_to enrollment.transcript.filename, url_for(enrollment.transcript) %>
      </p>
    </div>
    <div class="field">
      <%= form.label :transcript, 'Update Transcript' %>
      <%= form.file_field :transcript %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :transcript %>
      <%= form.file_field :transcript, required: true %>
    </div>
  <% end %>
  <p class="direction_notes">
    <span class="text-red-700">
      Upload a pdf copy of your high school transcript<br> (Maximum size is 5Mb and file format is PDF, JPG, PNG)
    </span>
    <br>
      This is a required part of your application. It does NOT need to be an
      official copy sent directly from your school's office. Screen print outs are
      accepted as well as composite copies of report cards from ALL previous high
      school terms/years.
      <br>
    <span class="text-red-700">
      Your application will not be considered complete and reviewed until we have
      received this material.
    </span>
  </p>

  <% if admin_signed_in? %>
  <h2>========== Administrative area ==========</h2>

    <div class="field">
      <%= form.label :notes %>
      <%= form.text_area :notes %>
    </div>

    <div class="field">
      <%= form.label :application_status %>
      <%= form.select :application_status, applicant_status, {}, include_blank: "-- Please Select --" %>
    </div>

    <div class="field">
      <%= form.label :offer_status %>
      <%= form.select :offer_status, offer_status, {}, include_blank: "-- Please Select --" %>
    </div>

    <div class="field">
      <%= form.label :partner_program %>
      <%= form.text_field :partner_program %>
    </div>
  <% end %>
    <div class="actions">
      <% if enrollment.new_record? %>
        <%= form.submit "Submit Application" %>
      <% else %>
        <% if @current_enrollment.application_status == "" || @current_enrollment.application_status == nil %>
          <%= form.submit "Update Application" %>
        <% end %>
      <% end %>
    </div>
<% end %>
<%= javascript_pack_tag 'required_stars' %>
<%= javascript_pack_tag 'filesize_check' %>