<%= form_with(model: enrollment, local: true) do |form| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
        <% enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <h4 class= "section-header">Sessions</h4>
  <p class="direction_notes">
    If you want to attend multiple sessions, please check the box corresponding
    to each of the sessions you wish to attend. If you would like to attend only
    one session, but do not have a preference as to which session, please check
    the <i>"any session"</i> box, <strong>along with the boxes corresponding to
    each of the sessions you are able to attend.</strong>
  </p>
  <div class="mt-2">
      <%= form.collection_check_boxes(:session_registration_ids, CampOccurrence.active, :id, :description_with_date, required: true) do |b| %>
        <div>
          <%= b.label(class: "inline-flex items-center") do %>
            <%= b.check_box(class: "form-checkbox mr-2", onclick: "myFunction()") %>
            <%= b.text %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>

<div class="field">
  <h4 class= "section-header">Services</h4>
  <p class="direction_notes">
    Check the box corresponding to each of the services you want to add for the
     session(s) you selected. If you selected the <i>"any session"</i> box,
     only select services in one session.
  </p>
  <% if @activities_session1.present? %>
    <div id="sessionActivity1">
      <div class= "text-sm bg-yellow-500">Session 1 (or Any Session)</div>
      <div class="mt-2">
          <%= form.collection_check_boxes(:registration_activity_ids, @activities_session1, :id, :description_with_cost) do |b| %>
            <div>
              <%= b.label(class: "inline-flex items-center") do %>
                <%= b.check_box(class: "form-checkbox mr-2") %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>

  <% if @activities_session2.present? %>
    <div id="sessionActivity2">
      <div class= "text-sm bg-yellow-500">Session 2</div>
      <div class="mt-2">
          <%= form.collection_check_boxes(:registration_activity_ids, @activities_session2, :id, :description_with_cost) do |b| %>
            <div>
              <%= b.label(class: "inline-flex items-center") do %>
                <%= b.check_box(class: "form-checkbox mr-2") %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>

  <% if @activities_session3.present? %>
    <div id="sessionActivity3">
      <div class= "text-sm bg-yellow-500">Session 3</div>
      <div class="mt-2">
          <%= form.collection_check_boxes(:registration_activity_ids, @activities_session3, :id, :description_with_cost) do |b| %>
            <div>
              <%= b.label(class: "inline-flex items-center") do %>
                <%= b.check_box(class: "form-checkbox mr-2") %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="field">
  <h4 class= "section-header">Courses</h4>
  <p class="direction_notes">
    Check the box corresponding to your preference of courses for the session(s)
    you selected.
  </p>
  <% if @courses_session1.present? %>
    <div id="sessionCourses1">
      <div class="display-box">
        <div class= "text-sm bg-yellow-500 -mx-2">Session 1</div>
          <%= form.collection_check_boxes(:course_registration_ids, @courses_session1, :id, :title) do |b| %>
            <div>
              <%= b.label(class: "inline-flex items-center") do %>
                <%= b.check_box(class: "form-checkbox mr-2") %>
                <%= b.text %>
                <%# form.select :course_registration_ids, ((1..10).map {|i| [i,i] }), include_blank: true, class: "inline-flex items-center" %>
              <% end %>
            </div>
          <% end %>

    <!-- <%# enrollment.course_preferences.new(course_id:2, ranking: 5) %>
        <% #@courses_session1.each do |c| %>
          <%# form.select :ranking, ((1..10).map {|i| [i,i] }), include_blank: true %>
          <%# c.title %>
        <br>
        <% # end %>
    !-->

      </div>
    </div>
  <% end %>

  <% if @courses_session2.present? %>
    <div id="sessionCourses2">
    <div class="display-box">
      <div class= "text-sm bg-yellow-500 -mx-2">Session 2</div>
        <%= form.collection_check_boxes(:course_registration_ids, @courses_session2, :id, :title) do |b| %>
          <div>
            <%= b.label(class: "inline-flex items-center") do %>
              <%= b.check_box(class: "form-checkbox mr-2") %>
              <%= b.text %>
              <%# form.select :course_registration_ids, ((1..10).map {|i| [i,i] }), include_blank: true, class: "inline-flex items-center" %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @courses_session3.present? %>
    <div id="sessionCourses3">
    <div class="display-box">
      <div class= "text-sm bg-yellow-500 -mx-2">Session 3</div>
        <%= form.collection_check_boxes(:course_registration_ids, @courses_session3, :id, :title) do |b| %>
          <div>
            <%= b.label(class: "inline-flex items-center") do %>
              <%= b.check_box(class: "form-checkbox mr-2") %>
              <%= b.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


  <h4 class= "section-header">Applicant School History</h4>
    <div class="field">

      <%= form.text_field :user_id, hidden: true %>
    </div>

    <div class="field">
      <%= form.label :year_in_school, "Current Grade", class: 'important' %>
      <%= form.text_field :year_in_school, required: true %>
    </div>

    <div class="field">
      <%= form.label :anticipated_graduation_year, class: 'important' %>
      <%= form.text_field :anticipated_graduation_year, required: true %>
    </div>

    <div class="field">
      <%= form.label :high_school_name, class: 'important'  %>
      <%= form.text_field :high_school_name, required: true %>
    </div>

    <div class="field">
      <%= form.label :high_school_address1, class: 'important'  %>
      <%= form.text_field :high_school_address1, required: true %>
    </div>

    <div class="field">
      <%= form.label :high_school_address2 %>
      <%= form.text_field :high_school_address2 %>
    </div>

    <div class="field">
      <%= form.label :high_school_city, class: 'important'  %>
      <%= form.text_field :high_school_city, required: true %>
    </div>

    <div class="field">
      <%= form.label :high_school_state, class: 'important'  %>
      <%= form.select :high_school_state, us_states, {}, include_blank: "-- Please Select --", required: true %>
    </div>

    <div class="field">
      <%= form.label :high_school_non_us, "High School if Non-US was selected for state" %>
      <%= form.text_field :high_school_non_us %>
    </div>

    <div class="field">
      <%= form.label :high_school_postalcode, class: 'important' %>
      <%= form.text_field :high_school_postalcode, required: true %>
    </div>

    <div class="field">
      <%= form.label :high_school_country, class: 'important' %>
      <%= form.country_select :high_school_country, priority_countries: ["US"], include_blank: true, required: true %>
    </div>


<hr>
  <div class="field">
    <%= form.label :room_mate_request, "Name of preferred roommate (optional, and for residential program only): " %>
    <%= form.text_field :room_mate_request %>
  </div>

<h4 class= "section-header">Student Personal Statement</h4>
<p class="direction_notes">
  Please complete the Student Personal Statement by either typing or pasting it
  into the field below. This <strong>required</strong> part of your application
   MUST be at least 100 characters or more. You should
  include courses you have taken, external influences, computer experience, and
  research interests that draw you to this program, or other relevant
  information to help us evaluate your application material.
</p>
  <div class="field">
    <%= form.label :personal_statement, class: 'important' %>
    <%= form.text_area :personal_statement, size: "30x10", minlength: 100, required: true %>
  </div>

<h4 class= "section-header">Transcripts</h4>
  <% if @enrollment.transcript.attached? %>
    <div class='current-uploaded-docs'>
      <p>
        <strong>Transcript currently uploaded:</strong>
        <%= link_to @enrollment.transcript.filename, url_for(@enrollment.transcript) %>
      </p>
    </div>
    <div class="field">
      <%= form.label :transcript, 'Update Transcript' %>
      <%= form.file_field :transcript %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :transcript, class: 'important' %>
      <%= form.file_field :transcript, required: true %>
    </div>
  <% end %>
<p class="direction_notes">
  <span class="text-red-500">
    Please upload a pdf copy of your high school transcript
  </span>
  <br>
    This is a required part of your application. It does NOT need to be an
    official copy sent directly from your school's office. Screen print outs are
    accepted as well as composite copies of report cards from ALL previous high
    school terms/years.
  <br>
    If you can not upload your transcript electronically, please send a copy
    (or have your high school send a copy) of your high school transcript to:
</p>
  <address class="px-4 pt-2">
    Michigan Math and Science Scholars<br>
    Department of Mathematics<br>
    530 Church Street<br>
    2074 East Hall<br>
    Ann Arbor, MI 48109-1043
  </address>
<p class="direction_notes">
    The transcript can be mailed to the above address, faxed to 734.763.0937 or
    e-mailed as a scanned attachment to mmss@umich.edu, if you can not upload
    your transcript electronically. You will be notified by email when your
    transcript has arrived in the MMSS office.
  <br>
  <span class="text-red-500">
    Your application will not be considered complete and reviewed until we have
    received this material.
  </span>
</p>

<% if admin_signed_in? %>
<h4 class= "section-header">Administrative area</h4>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :application_status %>
    <%= form.select :application_status, applicant_status, {}, include_blank: "-- Please Select --" %>
  </div>

  <div class="field">
    <%= form.label :offer_status %>
    <%= form.select :offer_status, offer_status, {}, include_blank: "-- Please Select --" %>
  </div>

  <div class="field">
    <%= form.label :partner_program %>
    <%= form.text_field :partner_program %>
  </div>
<% end %>

  <div class="actions">
    <% if enrollment.new_record? %>
      <%= form.submit "Submit Application" %>
    <% else %>
      <%= form.submit "Update Application" %>
    <% end %>
  </div>
<% end %>

<script>
  <%= "myFunction()" %>
</script>
