

<h1>Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>International</th>
      <th>High school name</th>
      <th>High school address1</th>
      <th>High school address2</th>
      <th>High school city</th>
      <th>High school state</th>
      <th>High school non us</th>
      <th>High school postalcode</th>
      <th>High school country</th>
      <th>Year in school</th>
      <th>Anticipated graduation year</th>
      <th>Room mate request</th>
      <th>Personal statement</th>
      <th>Notes</th>
      <th>Application status</th>
      <th>Offer status</th>
      <th>Partner program</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.user_id %></td>
        <td><%= enrollment.international %></td>
        <td><%= enrollment.high_school_name %></td>
        <td><%= enrollment.high_school_address1 %></td>
        <td><%= enrollment.high_school_address2 %></td>
        <td><%= enrollment.high_school_city %></td>
        <td><%= enrollment.high_school_state %></td>
        <td><%= enrollment.high_school_non_us %></td>
        <td><%= enrollment.high_school_postalcode %></td>
        <td><%= enrollment.high_school_country %></td>
        <td><%= enrollment.year_in_school %></td>
        <td><%= enrollment.anticipated_graduation_year %></td>
        <td><%= enrollment.room_mate_request %></td>
        <td><%= enrollment.personal_statement %></td>
        <% if admin_signed_in? %>
          <td><%= enrollment.notes %></td>
          <td><%= enrollment.application_status %></td>
          <td><%= enrollment.offer_status %></td>
          <td><%= enrollment.partner_program %></td>
        <% end %>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path %>
