
<% if admin_signed_in? %>
  <p>
    <small>User_id:
    <%= @current_enrollment.user_id %>
    </small>
  </p>
<% end %>

<p>
  <strong>User:</strong>
  <%= @current_enrollment.applicant_detail.full_name %>
</p>

<p>
  <strong>Campyear:</strong>
  <%= @current_enrollment.campyear %>
</p>

<p>
  <strong>International:</strong>
  <%= @current_enrollment.international %>
</p>

<p>
  <strong>High school name:</strong>
  <%= @current_enrollment.high_school_name %>
</p>

<p>
  <strong>High school address1:</strong>
  <%= @current_enrollment.high_school_address1 %>
</p>

<p>
  <strong>High school address2:</strong>
  <%= @current_enrollment.high_school_address2 %>
</p>

<p>
  <strong>High school city:</strong>
  <%= @current_enrollment.high_school_city %>
</p>

<p>
  <strong>High school state:</strong>
  <%= @current_enrollment.high_school_state %>
</p>

<p>
  <strong>High school non us:</strong>
  <%= @current_enrollment.high_school_non_us %>
</p>

<p>
  <strong>High school postalcode:</strong>
  <%= @current_enrollment.high_school_postalcode %>
</p>

<p>
  <strong>High school country:</strong>
  <%= @current_enrollment.high_school_country %>
</p>

<p>
  <strong>Year in school:</strong>
  <%= @current_enrollment.year_in_school %>
</p>

<p>
  <strong>Anticipated graduation year:</strong>
  <%= @current_enrollment.anticipated_graduation_year %>
</p>

<p>
  <strong>Room mate request:</strong>
  <%= @current_enrollment.room_mate_request %>
</p>

<p class="current-uploaded-docs h-40 overflow-auto">
  <strong>Personal statement:</strong>
  <%= @current_enrollment.personal_statement %>
</p>

<% if @current_enrollment.transcript.attached? %>
  <p class="current-uploaded-docs">
    <strong>Transcript:</strong> <%= link_to @current_enrollment.transcript.filename, url_for(@current_enrollment.transcript) %>
  </p>
<% else %>
  <p class="text-lg text-orange-500">
    Use the <%= link_to 'Edit', edit_enrollment_path(@current_enrollment) %> button to add a transcript!
  </p>
<% end %>

<% if @session_registrations.present? %>
  <div class="display-box mt-2">
  <div class="section-header">Sessions</div>
    <ul>
      <% @session_registrations.each do |s| %>
        <li>
          <%= s.description_with_date %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% if @registration_activities.present? %>
  <div class="display-box mt-2">
  <div class="section-header">Activities & Services</div>
    <ul>
      <% @registration_activities.each do |r| %>
        <li>
          <%= r.description %> -- <%= humanized_money_with_symbol(r.cost) %> <%= r.camp_occurrence.description %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>



<% if @course_registrations.present? %>
  <div class="display-box mt-2">
  <div class="section-header">Course Selections</div>
    <ul>
      <% @course_registrations.each do |c| %>
        <li>
          <%= c.title %> [ <%= @current_enrollment.course_preferences.find_by(course_id: c.id).ranking %> ] -- <%= c.camp_occurrence.description %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% if admin_signed_in? %>
  <h4>Administrative area</h4>
    <strong>Notes:</strong>
    <%= @current_enrollment.notes %>


    <p>
      <strong>Application status:</strong>
      <%= @current_enrollment.application_status %>
    </p>

    <p>
      <strong>Offer status:</strong>
      <%= @current_enrollment.offer_status %>
    </p>

    <p>
      <strong>Partner program:</strong>
      <%= @current_enrollment.partner_program %>
    </p>
<% end %>
<div class="mt-2">
  <% if @current_enrollment.application_status == "" || @current_enrollment.application_status == nil %>
    <%= link_to 'Edit', edit_enrollment_path(@current_enrollment), class: "btn btn-blue" %> |
  <% end %>
  <%= link_to 'Home', root_path, class: "btn btn-blue" %>
</div>



