<div class="max-w rounded overflow-hidden shadow-lg mb-2">
  <h1 class="text-yellow-um_yellow bg-blue-um_blue p-2">
    <p class="text-center text-lg"><%= @current_enrollment.applicant_detail.full_name %>'s <%= @current_enrollment.campyear %> Application</p>
  </h1>
  <div class="px-6 py-2">
    <div class="bg-gray-200 rounded-lg px-3 py-1 text-base text-gray-700 mr-2 mb-2">
      <ul>
        <li>Grade level: <%= @current_enrollment.year_in_school %></li>
        <li>Expected graduation: <%= @current_enrollment.anticipated_graduation_year %></li>
      </ul>
    </div>
    <div class="bg-gray-200 rounded-lg px-3 py-1 text-base text-gray-700 mr-2 mb-2">
      <p class="text-gray-700">
        High school information:
          <ul class="pl-4">
            <li><%= @current_enrollment.high_school_name %></li>
            <li><%= @current_enrollment.high_school_address1 %></li>
            <li><%= @current_enrollment.high_school_address2 %></li>
            <li>
              <%= @current_enrollment.high_school_city %>, 
              <%= @current_enrollment.high_school_state %>
              <%= @current_enrollment.high_school_non_us %>
              <%= @current_enrollment.high_school_postalcode %>
            </li>
            <li><%= @current_enrollment.high_school_country %></li>
          </ul>
      </p>
    </div>
    <div class="bg-gray-200 rounded-lg px-3 text-gray-700 mr-2">
      <%= @room_mate %>
    </div>
  </div>

<p class="current-uploaded-docs h-40 overflow-auto">
  <strong>Personal statement:</strong>
  <%= @current_enrollment.personal_statement %>
</p>

<% if @current_enrollment.transcript.attached? %>
  <p class="current-uploaded-docs">
    <strong>Transcript:</strong> <%= link_to @current_enrollment.transcript.filename, url_for(@current_enrollment.transcript) %>
  </p>
<% else %>
  <p class="text-lg text-orange-500">
    Use the <%= link_to 'Edit', edit_enrollment_path(@current_enrollment) %> button to add a transcript!
  </p>
<% end %>

<% if @session_registrations.present? %>
  <div class="display-box mt-2">
  <div class="section-header">Sessions</div>
    <ul>
      <% @session_registrations.each do |s| %>
        <li>
          <%= s.description_with_date %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% if @registration_activities.present? %>
  <div class="display-box mt-2">
  <div class="section-header">Activities & Services</div>
    <ul>
      <% @registration_activities.each do |r| %>
        <li>
          <%= r.description %> -- <%= humanized_money_with_symbol(r.cost) %> <%= r.camp_occurrence.description %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>



<% if @course_registrations.present? %>
  <div class="display-box mt-2">
  <div class="section-header">Course Selections</div>
    <ul>
      <% @course_registrations.each do |c| %>
        <li>
          <%= c.title %> [ <%= @current_enrollment.course_preferences.find_by(course_id: c.id).ranking %> ] -- <%= c.camp_occurrence.description %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% if admin_signed_in? %>
  <h2>========== Administrative area ==========</h2>
  <p>
    <small>User_id:
    <%= @current_enrollment.user_id %>
    </small>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= @current_enrollment.notes %>
  </p>
  <p>
    <strong>Application status:</strong>
    <%= @current_enrollment.application_status %>
  </p>

  <p>
    <strong>Offer status:</strong>
    <%= @current_enrollment.offer_status %>
  </p>

  <p>
    <strong>Partner program:</strong>
    <%= @current_enrollment.partner_program %>
  </p>
<% end %>
</div>
<div class="mt-2">
  <% if @current_enrollment.application_status == "" || @current_enrollment.application_status == nil %>
    <%= link_to 'Edit', edit_enrollment_path(@current_enrollment), class: "btn btn-blue" %> |
  <% end %>
  <%= link_to 'Home', root_path, class: "btn btn-blue" %>
</div>