<%= form_with(model: course_preference, local: true) do |form| %>


  <div class="field">
    <%= form.label :enrollment_id %>
    <%= form.text_field :enrollment_id %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id %>
  </div>

    <div class="field">
    <%= form.label :ranking %>
    <%= form.text_field :ranking %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
