<%= form_with(model: course_preference, local: true) do |form| %>
<h1><%= @course_preference.course_title %></h1>

  <div class="field">
    <%= form.label :ranking %>
    <%= form.select :ranking, ((1..10).map {|i| [i,i] }), include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
