<%= form_with(model: course_preference, local: true) do |form| %>
<br>
<h3><%= @course_preference.course.title %></h3>

  <div class="field">
    <%= form.label :ranking %>
     <%= form.select :ranking, (@remaining_selections.map {|i| [i,i] }), include_blank:  "Select Rank" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
