<h1>Course Rankings</h1>
<hr>
<% if @current_enrollment_session_any.present? %>
<h2>Session 1</h2>
<%# @current_enrollment_session1_courses.size %>
  <% @current_enrollment_session_any_courses.each do |sc| %>
    <div>-<%= sc.title %> Rank: [ <%= @current_enrollment_course_preferences_all.find_by(course_id: sc.id).ranking %> ] -- <%= link_to "edit", edit_enrollment_course_preference_path(@current_enrollment, @current_enrollment_course_preferences_all.find_by(course_id: sc.id)), class: 'btn btn-sm btn-blue' %> </div>
  <% end %>
 </ul>
<hr>
<% end %>

<% if @current_enrollment_session1.present? %>
<h2>Session 1</h2>
<%# @current_enrollment_session1_courses.size %>
  <% @current_enrollment_session1_courses.each do |sc| %>
    <div>-<%= sc.title %> Rank: [ <%= @current_enrollment_course_preferences_all.find_by(course_id: sc.id).ranking %> ] -- <%= link_to "edit", edit_enrollment_course_preference_path(@current_enrollment, @current_enrollment_course_preferences_all.find_by(course_id: sc.id)), class: 'btn btn-sm btn-blue' %> </div>
  <% end %>
 </ul>
<hr>
<% end %>

<% if @current_enrollment_session2.present? %>
 <h2>Session 2</h2>
  <% @current_enrollment_session2_courses.each do |sc| %>
    <div>-<%= sc.title %> Rank: [ <%= @current_enrollment_course_preferences_all.find_by(course_id: sc.id).ranking %> ] -- <%= link_to "edit", edit_enrollment_course_preference_path(@current_enrollment, @current_enrollment_course_preferences_all.find_by(course_id: sc.id)), class: 'btn btn-sm btn-blue' %> </div>
  <% end %>
<hr>
<% end %>

<% if @current_enrollment_session3.present? %>
 <h2>Session 3</h2>
  <% @current_enrollment_session3_courses.each do |sc| %>
    <div>-<%= sc.title %> Rank: [ <%= @current_enrollment_course_preferences_all.find_by(course_id: sc.id).ranking %> ] -- <%= link_to "edit", edit_enrollment_course_preference_path(@current_enrollment, @current_enrollment_course_preferences_all.find_by(course_id: sc.id)), class: 'btn btn-sm btn-blue' %> </div>
  <% end %>

 <% end %>
<hr>
<%# link_to 'Edit', new_enrollment_course_preference_path(@current_enrollment) %>
<%= link_to 'Home', root_path %> |
<% if current_user.enrollments.last.recommendation.blank? %>
  <%= link_to "Letter of Recommendation",
                        new_enrollment_recommendation_path(current_user.enrollments.last),
                        class: 'btn btn-blue'  %>
<% else %>
  <%= link_to "Letter of Recommendation",
                        enrollment_recommendation_path(current_user.enrollments.last,current_user.enrollments.last.recommendation ) %>
<% end %>