<h1>Course Rankings</h1>
<hr>
<% if @current_enrollment_session1.present? %>
<h2>Session 1</h2>
<%# @current_enrollment_session1_courses.size %>
 <ul>
  <% @current_enrollment_session1_courses.each do |sc| %>
    <li>-<%= sc.title %> => <%= sc.id %></li>
  <% end %>
 </ul>
<hr>
<% end %>

<% if @current_enrollment_session2.present? %>
 <h2>Session 2</h2>
 <ul>
  <% @current_enrollment_session2_courses.each do |sc| %>
    <li>-<%= sc.title %> => <%= sc.id %></li>
  <% end %>
 </ul>
<hr>
<% end %>

<% if @current_enrollment_session3.present? %>
 <h2>Session 3</h2>
 <ul>
  <% @current_enrollment_session3_courses.each do |sc| %>
    <li>-<%= sc.title %> => <%= sc.id %></li>
  <% end %>
 </ul>

 <% end %>
<hr>
<%= link_to 'Edit', new_enrollment_course_preference_path(@current_enrollment) %> |
<%= link_to 'Home', root_path %>