<div class="max-w rounded overflow-hidden shadow-lg">
  <h1 class="text-yellow-um_yellow bg-blue-um_blue p-2">Course Rankings</h1>

  <p class="direction_notes">
    For each course below click edit and rank according to your interest.
  </p>
  <div class = "m-2">
    <% if @current_enrollment_session1.present? %>
      <h3>Session 1</h3>
        <ul>
          <% @current_enrollment_session1_courses.each do |sc| %>
            <li class="m-2"><%= sc.title %> Rank: [ <%= @current_enrollment_course_preferences_all.find_by(course_id: sc.id).ranking %> ]
              <% if @current_enrollment.application_status == "" || @current_enrollment.application_status == nil %>
                -- <%= link_to "edit", edit_enrollment_course_preference_path(@current_enrollment, @current_enrollment_course_preferences_all.find_by(course_id: sc.id)), class: 'btn btn-sm btn-blue' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <hr>
    <% end %>

    <% if @current_enrollment_session1.present? %>
      <h3>Session 2</h3>
        <ul>
          <% @current_enrollment_session2_courses.each do |sc| %>
            <li class="m-2"><%= sc.title %> Rank: [ <%= @current_enrollment_course_preferences_all.find_by(course_id: sc.id).ranking %> ]
              <% if @current_enrollment.application_status == "" || @current_enrollment.application_status == nil %>
                -- <%= link_to "edit", edit_enrollment_course_preference_path(@current_enrollment, @current_enrollment_course_preferences_all.find_by(course_id: sc.id)), class: 'btn btn-sm btn-blue' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <hr>
    <% end %>

    <% if @current_enrollment_session3.present? %>
      <h3>Session 1</h3>
        <ul>
          <% @current_enrollment_session3_courses.each do |sc| %>
            <li class="m-2"><%= sc.title %> Rank: [ <%= @current_enrollment_course_preferences_all.find_by(course_id: sc.id).ranking %> ]
              <% if @current_enrollment.application_status == "" || @current_enrollment.application_status == nil %>
                -- <%= link_to "edit", edit_enrollment_course_preference_path(@current_enrollment, @current_enrollment_course_preferences_all.find_by(course_id: sc.id)), class: 'btn btn-sm btn-blue' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <hr>
    <% end %>
  </div>
</div>

<div class="mt-2">
  <%= link_to 'Home', root_path, class: "btn btn-blue"  %>
</div>
