<% if @current_enrollment_session1_courses.present? %>
  <h2>Session 1 Rankings </h2>
  <%= form_with(model: @course_preference, local: true) do |cp_form| %>
    <% @current_enrollment_session1_courses.each do |cp| %>
      <%= cp_form.select :ranking, ((1..10).map {|i| [i,i] }), include_blank: true %>
      <%= cp.title %>
      <br>
    <% end %>
    <%= cp_form.submit "Update Course Rankings - Session 1" %>
  <% end %>
  <hr>
<% end %>

<% if @current_enrollment_session2_courses.present? %>
  <h2>Session 2 Rankings </h2>
  <%= form_with(model: @course_preference, local: true) do |cp_form| %>
    <% @current_enrollment_session2_courses.each do |cp| %>
      <%= cp_form.select :ranking, ((1..10).map {|i| [i,i] }), include_blank: true %>
      <%= cp.title %>
      <br>
    <% end %>
    <%= cp_form.submit "Update Course Rankings - Session 2" %>
  <% end %>
    <hr>
<% end %>

<% if @current_enrollment_session3_courses.present? %>
  <h2>Session 3 Rankings </h2>
  <%= form_with(model: @course_preference, local: true) do |cp_form| %>
    <% @current_enrollment_session3_courses.each do |cp| %>
      <%= cp_form.select :ranking, ((1..10).map {|i| [i,i] }), include_blank: true %>
      <%= cp.title %>
      <br>
    <% end %>
    <%= cp_form.submit "Update Course Rankings - Session 3" %>
  <% end %>
    <hr>
<% end %>
