<h1 class="text-yellow-um_yellow bg-blue-um_blue p-2">Course Rankings</h1>
<div>
  <small><%= @course_pref.id %></small> 
  <div><%= @course_info.title %> ==> your ranking: [
    <% if @course_pref.ranking %>
      <%= @course_pref.ranking %>
    <% else %>
      0
    <% end %>
  ]
  </div>
</div>
<div class="mt-2">
  <%= link_to 'Edit', edit_enrollment_course_preference_path(@current_enrollment, @course_pref.id), class: "btn btn-blue" %> 
  <hr>
  <%= link_to 'Back', enrollment_course_preferences_path(@current_enrollment), class: "btn btn-blue" %> | 
  <%= link_to 'Home', root_path, class: "btn btn-blue" %>
</div>