<h1>Course Rankings</h1>
<div>
  <small><%= @course_pref.id %></small> 
  <div><%= @course_info.title %> ==> your ranking: [
    <% if @course_pref.ranking %>
      <%= @course_pref.ranking %>
    <% else %>
      0
    <% end %>
  ]
  </div>
</div>
<%= link_to 'Edit', edit_enrollment_course_preference_path(@current_enrollment, @course_pref.id) %> 
<hr>
<%= link_to 'Back', enrollment_course_preferences_path(@current_enrollment) %> | 
<%= link_to 'Home', root_path %>