<% provide(:title, 'Payment Receipts') %>
<h2>Your Payment Receipts</h2>
<% if @users_current_payments.count < 1 %>
  <h6>You have not made a payment yet. Payment can be made via check or money
  order from a U.S. based bank, or via credit card. International students may
  pay via wire transfer (contact our office for more information regarding wire
  transfers for international students.)
  <%= button_to "pay the $100 non-refundable application fee",
                make_payment_path(amount: 100), class: 'btn-sm btn-green' %></h6>
<% else %>
<%# "User_id: #{@user_current_enrollment.user_id} Status: #{@current_application_status} Camp Year: #{current_camp_year}" %>
    <% if @user_current_enrollment.application_status.equal? "enrolled" %>
      <h6>
        Your application materials have been received and processed, and we are
        pleased to offer you a spot for MMSS <%= current_camp_year %>.
        Your official notification and course assignment are found in your
        notification email.
        <br>
        Paying the tuition and service fees is a requirement of participation.
        Please continue paying your camp fees at this time.
      </h6>
    <% else %>
      <h6 class="mt-4">
        Thank you for your Michigan Math and Science Scholars Application. When we
        have received all your application components your file will be reviewed.
        <br>
        The process may take up to 6 weeks as we conduct our admissions on a
        rolling basis.
        <br>
        Please continue to check your email, and the Progress Window, for
         updates on your application.
      </h6>
    <% end %>

    <% if current_user.enrollments.last.financial_aid.blank? %>
      <p class="mb-2">If you are applying for need-based financial support. Please fill out
        the <%= link_to "Financial Aid Application", new_enrollment_financial_aid_path(current_user.enrollments.last),
                class: "btn btn-green" %>
      </p>
    <% end %>
    <div class="direction_notes">You may email any questions to <%= mail_to "mmss@umich.edu" %>
    </div>

  <hr class="w-75"/>

  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <h6 class="bg-green-700 px-4 text-white">
      Account Summary
    </h6>
    <div class="p-4">
      <div class="font-bold text-base mb-2">
        <%= "#{'total_cost'.humanize.ljust(24, '.')} #{humanized_money_with_symbol(@total_cost).rjust(12,'.')}" %>
      </div>
      <div class="text-gray-700">
        <%= "#{'amount_paid'.humanize.ljust(36, '.')} #{humanized_money_with_symbol(@ttl_paid).rjust(12,'.')}" %>
      </div>
      <% if @finaids.present? %>
        <div class="text-gray-700">
          <%= "#{'financial_aid_awarded'.humanize.ljust(31, '.')} #{humanized_money_with_symbol(@finaids_ttl).rjust(12,'.')}" %>
        </div>
      <% end %>
      <hr/>
      <div class="text-gray-700">
        <%= "#{'balance_due'.humanize.ljust(37, '.')} #{humanized_money_with_symbol(@balance_due).rjust(12,'.')}" %>
      </div>
    </div>

    <% if payments_open? && @balance_due > 0 %>
      <div class="w-2/3">
        <p>Enter a payment up to the balance due amount:</p>
          <%= form_with url: make_payment_path, local: true do |f| %>
            <%= f.number_field :amount, value: "#{@balance_due.to_i}", within: 1..5000, required: true %>
            <%= f.submit "Pay Now", class: 'btn-sm btn-green' %>
          <% end %>
      </div>
    <% end %>
  </div>

  <hr class="w-75"/>

  <h5>Your transactions:</h5>
  <div class="card-deck">
    <% @users_current_payments.each do |payment| %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <h6 class="bg-green-500 px-4 text-white">
            <%= "Transaction ID: #{payment.transaction_id}" %>
          </h6>

          <div class="text-gray-700 text-sm">
            <%= "Credit Card: #{payment.account_type}" %>
          </div>
          <div class="text-gray-700 text-sm">
            <%= "Message: #{payment.result_message}" %>
          </div>
          <div class="text-gray-700 text-sm">
            <%= "Amount: #{humanized_money_with_symbol(payment.total_amount.to_f / 100 )}" %>
          </div>
          <div class="text-gray-700 text-sm">
            <%= "Date: #{Time.parse(payment.transaction_date).strftime("%b %e, %Y at %l:%M %p")}" %>
          </div>
        </div>
    <% end %>
  </div>

  <div class="direction_notes">
    You will receive an email confirmation from
    'MerchantCreditCard&#64;umich.edu' for each transaction.
  </div>

  <% if @finaids.present? %>
    <hr>
    <h5>Financial Aid</h5>
    <% @finaids.each do |aid| %>
      <div class="card-deck">

        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <div class="bg-blue-500 px-4 text-white">
            Financial Aid Request
          </div>
          <div class="text-gray-700 text-sm">
            <%= "Note: #{aid.note}" %>
          </div>
          <% if aid.taxform.attached? %>
            <div class="text-gray-700 text-sm">
              Tax Form uploaded:
              <%= link_to aid.taxform.filename, url_for(aid.taxform) %>
            </div>
          <% end %>
          <% if aid.awarded %>
            <div class="text-gray-700 text-sm">
              Status: Awarded
            </div>
            <div class="text-gray-700 text-sm">
              <%= "Financial source: #{aid.source}" %>
            </div>
            <div class="text-gray-700 text-sm">
              <%= "Amount: #{humanized_money_with_symbol(aid.amount_cents )}" %>
            </div>
          <% else %>
            <div class="text-gray-700 text-sm">
              Status: Pending
            </div>
          <% end %>
          <div class="text-gray-700 text-sm">
            <%= "Date: #{aid.updated_at}" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="direction_notes">
    You may email any questions to
    <%= mail_to "mmss@umich.edu" %>
  </div>
<% end %>
