<p id="notice"><%= notice %></p>

<p>
  <strong>Camp occurrence:</strong>
  <%= @course.camp_occurrence_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Available spaces:</strong>
  <%= @course.available_spaces %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
