<%= form_with(model: camp_configuration, local: true) do |form| %>
  <% if camp_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camp_configuration.errors.count, "error") %> prohibited this camp_configuration from being saved:</h2>

      <ul>
        <% camp_configuration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :camp_year %>
    <%= form.text_field :camp_year %>
  </div>

  <div class="field">
    <%= form.label :application_open %>
    <%= form.date_select :application_open %>
  </div>

  <div class="field">
    <%= form.label :application_close %>
    <%= form.date_select :application_close %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.date_select :priority %>
  </div>

  <div class="field">
    <%= form.label :application_materials_due %>
    <%= form.date_select :application_materials_due %>
  </div>

  <div class="field">
    <%= form.label :camper_acceptance_due %>
    <%= form.date_select :camper_acceptance_due %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
