<p id="notice"><%= notice %></p>

<h1>Camp Configurations</h1>

<table>
  <thead>
    <tr>
      <th>Camp year</th>
      <th>Application open</th>
      <th>Application close</th>
      <th>Priority</th>
      <th>Application materials due</th>
      <th>Camper acceptance due</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camp_configurations.each do |camp_configuration| %>
      <tr>
        <td><%= camp_configuration.camp_year %></td>
        <td><%= camp_configuration.application_open %></td>
        <td><%= camp_configuration.application_close %></td>
        <td><%= camp_configuration.priority %></td>
        <td><%= camp_configuration.application_materials_due %></td>
        <td><%= camp_configuration.camper_acceptance_due %></td>
        <td><%= camp_configuration.active %></td>
        <td><%= link_to 'Show', camp_configuration %></td>
        <td><%= link_to 'Edit', edit_camp_configuration_path(camp_configuration) %></td>
        <td><%= link_to 'Destroy', camp_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camp Configuration', new_camp_configuration_path %>
