
<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Camp<br>Occurrence</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Date occurs</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to "#{activity.camp_occurrence.description.titleize} - #{activity.camp_occurrence.camp_configuration.camp_year}", camp_configuration_camp_occurrence_path(activity.camp_occurrence.camp_configuration_id, activity.camp_occurrence) %></td>
        <td><%= activity.description %></td>
        <td><%= humanized_money_with_symbol(activity.cost) %></td>
        <td><%= activity.date_occurs %></td>
        <td><%= activity.active %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Camp Configurations', camp_configurations_path %>
