<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @activity.session_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Cost in cents:</strong>
  <%= @activity.cost_in_cents %>
</p>

<p>
  <strong>Date occurs:</strong>
  <%= @activity.date_occurs %>
</p>

<p>
  <strong>Active:</strong>
  <%= @activity.active %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
