<h4><%= "Hello #{@application.firstname}," %></h4>
<p>Congratulations! I am writing to inform you that you have been 
  admitted into the <%= @enrollment.campyear %> Michigan Math and 
  Science Scholars (MMSS) summer program held at the University 
  of Michigan in Ann Arbor! 
</p>
<p>In order to finalize your admission, please log in to 
  <%= link_to "your student portal", @url %> to accept or decline your admission.
</p>

<p><%= @offer_letter_text.html_safe %></p>
<hr>
<p>
  You have been assigned to:
  <ul>
    <% @assigned_sessions.each do |as| %>
      <li><%= as.camp_occurrence.display_name %></li>
    <% end %>
  </ul>
  To participate in:
  <ul>
    <% @assigned_courses.each do |ac| %>
      <li><%= ac.course.display_name %></li>
    <% end %>
  </ul>
  Your response deadline: <%= @enrollment.application_deadline.strftime("%B %d, %Y") %>
</p>
<hr>
<p>
  Please visit your application at <%= link_to "MMSS Student Portal", @url %>, and accept or decline this offer.
</p>