<p id="notice"><%= notice %></p>

<h1>Campnotes</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>Opendate</th>
      <th>Closedate</th>
      <th>Notetype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campnotes.each do |campnote| %>
      <tr>
        <td><%= campnote.note %></td>
        <td><%= campnote.opendate %></td>
        <td><%= campnote.closedate %></td>
        <td><%= campnote.notetype %></td>
        <td><%= link_to 'Show', campnote %></td>
        <td><%= link_to 'Edit', edit_campnote_path(campnote) %></td>
        <td><%= link_to 'Destroy', campnote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campnote', new_campnote_path %>
