<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @campnote.note %>
</p>

<p>
  <strong>Opendate:</strong>
  <%= @campnote.opendate %>
</p>

<p>
  <strong>Closedate:</strong>
  <%= @campnote.closedate %>
</p>

<p>
  <strong>Notetype:</strong>
  <%= @campnote.notetype %>
</p>

<%= link_to 'Edit', edit_campnote_path(@campnote) %> |
<%= link_to 'Back', campnotes_path %>
