<footer>
  <div>
    <address class="text-xs">
      Michigan Math and Science Scholars
    <br>  Department of Mathematics
    <br>   530 Church Street
    <br>   2074 East Hall
    <br>   Ann Arbor, MI 48109-1043
    <br> 734.647.4466 - voice
    <br> 734.763.0937 - fax
    </address>
  </div>
  <div>
    <li class="block mt-4 sm:inline-block sm:mt-0 text-yellow-700 hover:text-white mr-4"><%= link_to 'Feedback', new_feedback_path %></li>
    <% if admin_signed_in? %>
      <li class="block mt-4 sm:inline-block sm:mt-0 text-blue-400 hover:text-white mr-4"><%= link_to 'Admin Sign out', destroy_admin_session_path, method: :delete %></li>
    <% else %>
      <li class="block mt-4 sm:inline-block sm:mt-0 text-blue-600 hover:text-white mr-4"><%= link_to 'Admin Sign in', new_admin_session_path %></li>
    <% end %>
  </div>
  <div class='footer-links copyright'>
    Copyright <%= Time.now.year %> | <%= link_to 'The Regents of the University of Michigan', 'https://regents.umich.edu' %>
  </div>
</footer>
