
<% if user_signed_in? %>

  <% if current_user.applicant_detail.present? && current_user.applicant_detail.persisted? %>
    <div id="sidebox">
      <p><strong>Progress Window</strong><p>

      <% if current_user.enrollments.present? && current_user.enrollments.last.persisted? %>
        <% if current_user.enrollments.last.recommendation.present? %>
          <% if current_user.enrollments.last.recommendation.recupload.present? && current_user.payments.present? %>
            <span class="text-green-700 font-semibold">Application Complete</span>
          <% else %>
            <span class="text-red-500 font-semibold">Application incomplete</span>
          <% end %>
        <% end %>
      <% end %>

      <div class="sidebox_element"> <%= link_to 'Applicant Details', applicant_detail_path(current_user.applicant_detail) %> - submitted </div>

      <% if current_user.enrollments.present? && current_user.enrollments.last.persisted? %>
        <div class="sidebox_element">
          <%= link_to 'Session Selection',
                        enrollment_path(current_user.enrollments.last) %> - submitted
        </div>
        <div class="sidebox_sub_element">
          <%= link_to 'Course Rankings',
                        course_preference_path(current_user.enrollments.last) %> - submitted
        </div>

        <% if current_user.enrollments.last.recommendation.present? && current_user.enrollments.last.recommendation.persisted? %>
          <div class="sidebox_element">
            <%= link_to "Letter of Recommendation",
                        enrollment_recommendation_path(current_user.enrollments.last,current_user.enrollments.last.recommendation ) %>

            <% if current_user.enrollments.last.recommendation.recupload.present? %>
              - letter received
            <% else %>
              - requested
            <% end %>

          </div>
        <% end %>

        <% if current_user.enrollments.last.financial_aid.present? %>
          <div class="sidebox_element">
            <%= link_to "Financial Aid",
                        enrollment_financial_aid_path(current_user.enrollments.last,current_user.enrollments.last.financial_aid) %>

            <% if current_user.enrollments.last.financial_aid.awarded %>
              - awarded
            <% else %>
              - pending
            <% end %>

          </div>
        <% end %>

        <% if current_user.payments.present? %>
          <div class="sidebox_element">
            <%= link_to "Application Fee",
                        all_payments_path %>
               - paid
          </div>
        <% end %>

        <% if current_user.enrollments.last.offer_status == "offered" %>
          <hr>
          <div>
            <%= button_to "Accept", accept_offer_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded w-1/3" %>
            ||
            <%= button_to "Decline", decline_offer_path, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded w-1/3" %>
          </div>
        <% elsif current_user.enrollments.last.offer_status == "accepted" %>
          <hr>
          <div>
            <span class="text-green-700 font-semibold">You have accepted admission</span>
          </div>
        <% elsif current_user.enrollments.last.offer_status == "declined" %>
          <hr>
          <div>
            <span class="text-red-700 font-semibold">You have declined admission</span>
          </div>
        <% else %>
          <hr>
          <div class=" text-xs">
            Questions?
            <span class="text-blue-700"><%= mail_to "mmss@umich.edu" %></span>
          </div>
        <% end %>

      <% end %>
    </div>
  <% end %>

<% end %>
